<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soyaa.moonlam.post.like.dao.LikeDAO">
 
  	<insert id="insertLike" parameterType="map">
 		INSERT INTO
 			`like`
 		(
 			`userId`
 			, `postId`
 			, `createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{postId}
 			, now()
 		)
 	</insert>
 	
 	<delete id="deleteLike" parameterType="map"> <!-- 파라미터 여러개면 map 으로 잡아주는 것이 편하다(나중에 파라미터 삽입이 필요하면 관리하기 힘듦) -->
 		DELETE FROM
 			`like`
 		WHERE
 			`userId` = #{userId} 
 			AND `postId` = #{postId}
 	</delete>
 	
 	<select id="selectLikeCountByPostId" parameterType="int" resultType="int">
 		SELECT 
 			count(*)
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 	</select>
 	
 	 <select id="selectLikeCountByUserIdAndPostId" parameterType="map" resultType="int">
 		SELECT 
 			count(*)
 		FROM
 			`like`
 		WHERE
 			`userId` = #{userId}
 			AND `postId` = #{postId}
 	</select>
 	
 	<delete id="deleteLikeByPostId" parameterType="int">
 		DELETE FROM
 			`like`
 		WHERE 
 			`postId` = #{postId}
 	</delete>
 	
 </mapper>